/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 以上是css reset */

.main {
    width: 1002px;
    margin: 0 auto;
}

/* header */

header {
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

header a {
    text-decoration: none;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.fb {
    padding-right: 5px;
    border-right: 1px solid #cccccc;
    color: #4460a0;
}

.fb:hover {
    font-weight: 600;
}

.tw {
    color: #31b9ee
}

.tw:hover {
    font-weight: 600;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    
}

.logo {
    background-image: url("../img/logo.png");
    width: 224px;
    height: 50px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;  
    padding-bottom: 5px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 30px;
}

.menu li a {
    text-decoration: none;
    color: #00cc99;
    font-size: 18px;
    display: block;
    margin-top: 9px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

.menu li a:hover{
    border-bottom: 3px solid #00cc99;   
}
/* picture */

.picture {
    background-image: url("../img/banner.png");
    width: 1002px;
    height: 346px;
    background-repeat: no-repeat;
    position: relative;
}

.picture h1 {
    width: 1002px; /*不懂為什麼要設寬度*/
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2); 
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px; 
    position: absolute;
    margin-top: 100px;
    display: block;
    box-sizing: border-box;
}

/* container */
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.courses {
    display: flex;
    justify-content: space-around;
}

.course {
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
    margin-right: 25px;;
    
}

.courses img {
    margin-left: 10px;
}
.courses h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.courses p, h3 {
    line-height: 20px;
    letter-spacing: 2px;;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
}

.item {
    line-height: 20px;
    letter-spacing: 2px;;
    font-weight: 300;
    margin-left: 10px;
}

/* box */
.box {
    margin-top: 60px;
    margin-bottom: 60px;
}

.box h2 {
    font-size: 25px;
    text-align: center;
}

.comparison {
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;
    letter-spacing: 2px;
}

.comparison th, .comparison td {
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.comparison th {
    font-weight: 400;
    border-top: 0.5px solid #dddddd;
    border-bottom: 0.5px solid #dddddd;
    background-color: #f7f7f7;
    text-align: left;
}

.comparison td {
    font-weight: 320;
    border-bottom: 0.5px solid #dddddd;
}

.mark {
    color: #00a67d;
}

/* contact */

.contact {
    background: linear-gradient(#00644b, #009872);
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 50px;

}

.contact h2 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    color: white;
}

form {
    display: flex;
    margin-top: 25px;
    color: white;
}

textarea {
    border-radius: 5px;   
}

.information {
    padding-left: 30px;
    letter-spacing: 2px;
    
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    border-radius: 2px;
    border: 0; /* 讓外匡線不見 */
    outline: none;   /* 讓外匡線不見 */
}

.bottom {
    width: 75px;
    float: right;
    color: white;
    background-color: #00cc99;
    border-radius: 5px;
}

.clearfix {
    clear: both;
  }

/* footer */

footer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.right li {
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.right li span {
    color: #e33b88;
}

